<form class="" action="index.html" method="post">

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      1. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      2. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      3. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      4. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      5. <option>{{name}}</option>
      {{/each}}
  </div>
  <input type="number" name="Runs">
  <select class="" name="Dismissal">
    <option>Bowled</option>
    <option>LBW</option>
    <option>Caught</option>
    <option>Stumped</option>
    <option>Run Out</option>
    <option>Hit Wicket</option>
    <option>Other</option>
    <option>Retired</option>
    <option>Not Out</option>
  </select
</select>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      6. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      7. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      8. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      9. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      10. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      11. <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="number" name="Runs">
    <select class="" name="Dismissal">
      <option>Bowled</option>
      <option>LBW</option>
      <option>Caught</option>
      <option>Stumped</option>
      <option>Run Out</option>
      <option>Hit Wicket</option>
      <option>Other</option>
      <option>Retired</option>
      <option>Not Out</option>
    </select>
  </div>

  <input type="submit" value="submit">
  <input type="reset">


</form>
