<h2>ADD BATTING DATA</h2>
<div class="">

  <form class="" action="/inputBatting" method="post">
    
    <div class="">
      <label for="Players">1.</label>
      <select class="" name="Players">
        {{#each player}}
        <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
        {{/each}}
      </select>
      <input type="number" name="Runs">
      <select class="" name="Dismissal">
        <option>Bowled</option>
        <option>LBW</option>
        <option>Caught</option>
        <option>Stumped</option>
        <option>Run Out</option>
        <option>Hit Wicket</option>
        <option>Other</option>
        <option>Retired</option>
        <option>Not Out</option>
      </select>
    </div>

    <div class="">
      <label for="Players">2.</label>
      <select class="" name="Players">
        {{#each player}}
        <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
        {{/each}}
      </select>
      <input type="number" name="Runs">
      <select class="" name="Dismissal">
        <option>Bowled</option>
        <option>LBW</option>
        <option>Caught</option>
        <option>Stumped</option>
        <option>Run Out</option>
        <option>Hit Wicket</option>
        <option>Other</option>
        <option>Retired</option>
        <option>Not Out</option>
      </select>
    </div>

    <div class="">
      <label for="Players">3.</label>
      <select class="" name="Players">
        {{#each player}}
        <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
        {{/each}}
      </select>
      <input type="number" name="Runs">
      <select class="" name="Dismissal">
        <option>Bowled</option>
        <option>LBW</option>
        <option>Caught</option>
        <option>Stumped</option>
        <option>Run Out</option>
        <option>Hit Wicket</option>
        <option>Other</option>
        <option>Retired</option>
        <option>Not Out</option>
      </select>
    </div>

    <div class="">
      <label for="Players">4.</label>
      <select class="" name="Players">
        {{#each player}}
        <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
        {{/each}}
      </select>
      <input type="number" name="Runs">
      <select class="" name="Dismissal">
        <option>Bowled</option>
        <option>LBW</option>
        <option>Caught</option>
        <option>Stumped</option>
        <option>Run Out</option>
        <option>Hit Wicket</option>
        <option>Other</option>
        <option>Retired</option>
        <option>Not Out</option>
      </select>
    </div>

    <div class="">
      <label for="Players">5.</label>
      <select class="" name="Players">
        {{#each player}}
        <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
        {{/each}}
      </div>
      <input type="number" name="Runs">
      <select class="" name="Dismissal">
        <option>Bowled</option>
        <option>LBW</option>
        <option>Caught</option>
        <option>Stumped</option>
        <option>Run Out</option>
        <option>Hit Wicket</option>
        <option>Other</option>
        <option>Retired</option>
        <option>Not Out</option>
        </select
      </select>

      <div class="">
        <label for="Players">6.</label>
        <select class="" name="Players">
          {{#each player}}
          <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
        <input type="number" name="Runs">
        <select class="" name="Dismissal">
          <option>Bowled</option>
          <option>LBW</option>
          <option>Caught</option>
          <option>Stumped</option>
          <option>Run Out</option>
          <option>Hit Wicket</option>
          <option>Other</option>
          <option>Retired</option>
          <option>Not Out</option>
        </select>
      </div>

      <div class="">
        <label for="Players">7.</label>
        <select class="" name="Players">
          {{#each player}}
          <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
        <input type="number" name="Runs">
        <select class="" name="Dismissal">
          <option>Bowled</option>
          <option>LBW</option>
          <option>Caught</option>
          <option>Stumped</option>
          <option>Run Out</option>
          <option>Hit Wicket</option>
          <option>Other</option>
          <option>Retired</option>
          <option>Not Out</option>
        </select>
      </div>

      <div class="">
        <label for="Players">8.</label>
        <select class="" name="Players">
          {{#each player}}
          <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
        <input type="number" name="Runs">
        <select class="" name="Dismissal">
          <option>Bowled</option>
          <option>LBW</option>
          <option>Caught</option>
          <option>Stumped</option>
          <option>Run Out</option>
          <option>Hit Wicket</option>
          <option>Other</option>
          <option>Retired</option>
          <option>Not Out</option>
        </select>
      </div>

      <div class="">
        <label for="Players">9.</label>
        <select class="" name="Players">
          {{#each player}}
          <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
        <input type="number" name="Runs">
        <select class="" name="Dismissal">
          <option>Bowled</option>
          <option>LBW</option>
          <option>Caught</option>
          <option>Stumped</option>
          <option>Run Out</option>
          <option>Hit Wicket</option>
          <option>Other</option>
          <option>Retired</option>
          <option>Not Out</option>
        </select>
      </div>

      <div class="">
        <label for="Players">10.</label>
        <select class="" name="Players">
          {{#each player}}
          <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
        <input type="number" name="Runs">
        <select class="" name="Dismissal">
          <option>Bowled</option>
          <option>LBW</option>
          <option>Caught</option>
          <option>Stumped</option>
          <option>Run Out</option>
          <option>Hit Wicket</option>
          <option>Other</option>
          <option>Retired</option>
          <option>Not Out</option>
        </select>
      </div>

      <div class="">
        <label for="Players">11.</label>
        <select class="" name="Players">
          {{#each player}}
          <option value="{{playerId}}" {{selected this ../selectedState}}>{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
        <input type="number" name="Runs">
        <select class="" name="Dismissal">
          <option>Bowled</option>
          <option>LBW</option>
          <option>Caught</option>
          <option>Stumped</option>
          <option>Run Out</option>
          <option>Hit Wicket</option>
          <option>Other</option>
          <option>Retired</option>
          <option>Not Out</option>
        </select>
      </div>

      <input type="submit" value="submit">
      <input type="reset">

    </form>
</div>
