<form class="" action="index.html" method="post">

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      1. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      2. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      3. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      4. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      5. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      6. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      7. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      8. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      9. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      10. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <div class="">
    <select class="" name="Players">
      {{#each player}}
      11. <option>{{name}}</option>
      {{/each}}
      <input type="number" name="Overs">
      <input type="number" name="Maidens">
      <input type="number" name="Runs">
      <input type="number" name="Wickets">
      <input type="number" name="Wides">
      <input type="number" name="No Balls">
    </select>
  </div>

  <input type="submit" value="submit">
  <input type="reset">


</form>
