<h2>ADD FIELDING DATA</h2>
<form class="" action="/inputFielding" method="post">

  <div class="">
    <label for="matchId">matchId</label>
    <input type="number" name="matchId" value="">
  </div>

  <div class="">
    <label for="Players">1.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">2.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">3.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">4.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">5.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">6.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">7.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">8.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">9.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">10.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>
  <div class="">
    <label for="Players">11.</label>
    <select class="" name="fieldPlayerId">
      {{#each player}}
      1. <option value="{{playerId}}" {{selected this ../selectedState}} >{{firstName}} {{lastName}}</option>
      {{/each}}
      <label for="Catches">Catches</label>
      <input type="number" name="Catches">
      <label for="runOuts">RUN OUTS</label>
      <input type="number" name="runOuts">
      <label for="Stumpings">STUMPINGS</label>
      <input type="number" name="Stumpings">
    </select>
  </div>


  <input type="submit" value="submit">
  <input type="reset">


</form>
