<form class="" action="index.html" method="post">

  <select class="" name="Opposition">
    {{#each opposition}}
      <option value="{{name}}" {{selected this ../selectedState}}>{{name}}</option>
    {{/each}}
  </select>

  <select class="" name="Ground">
    {{#each Ground}}
    <option value="{{groundName}}">{{groundName}}</option>
    {{/each}}
  </select>

  <input type="text" name="pitch" value="">
  <input type="text" name="date" value="date">

  <input type="submit" value="submit">
  <input type="reset">

</form>
