<img src="{{imgUrl}}" alt="" />

<div class="playerInfo">
  <h3>Name: {{firstName}} {{lastName}}</h3>
  <h3>{{batStyle}}</h3>
  <h3>{{bowlStyle}}</h3>
</div>

<div class="playerStats">

<h3>BATTING</h3>
<table>
  <tr>
    <th></th>
    <th>INNS</th>
    <th>RUNS</th>
    <th>AVG</th>
    <th>N/O</th>
    <th>4's</th>
    <th>6's</th>
    <th>HS</th>
  </tr>
  <tr>
    <th>2016</th>
    <td>{{innings}}</td>
    <td>{{runsScored}}</td>
    <td>{{average}}</td>
    <td>{{notOut}}</td>
    <td>{{fours}}</td>
    <td>{{sixes}}</td>
    <td>{{highScore}}</td>
  </tr>
</table>

<h3>BOWLING</h3>
<table>
  <tr>
    <th></th>
    <th>OVERS</th>
    <th>MAIDENS</th>
    <th>WICKETS</th>
    <th>RUNS</th>
    <th>WIDES</th>
    <th>NO BALLS</th>
    <th>BBI</th>
  </tr>
  <tr>
    <th>2016</th>
    <td>{{overs}}</td>
    <td>{{maidens}}</td>
    <td>{{wickets}}</td>
    <td>{{runsConceded}}</td>
    <td>{{wides}}</td>
    <td>{{noBalls}}</td>
    <td>{{bestBowling}}</td>
  </tr>
</table>

<h3>FIELDING</h3>
<table>
  <tr>
    <th></th>
    <th>CATCHES</th>
    <th>RUN OUTS</th>
    <th>STUMPINGS</th>
  </tr>
  <tr>
    <th>2016</th>
    <td>{{catches}}</td>
    <td>{{runOuts}}</td>
    <td>{{stumpings}}</td>
  </tr>
</table>
