<h2>ADD RESULT</h2>
<form class="" action="index.html" method="post">

  <div class="">
    <label for="fixture">Fixture: </label>
    <select class="" name="fixture">
      {{#each fixtures}}
      <option value="{{id}}" {{selected this ../selectedState}}>{{date}} {{opposition}} {{ground}}<option>
        {{/each}}
      </select> <br>
  </div>

  <div class="">
    <label for="result">Result: </label>
    <select class="" name="result">
      <option>WIN</option>
      <option>LOSS</option>
      <option>DRAW</option>
      <option>ABANDONED</option>
    </select>
  </div>

  <div class="">
    <label for="margin">Margin: </label>
    <input type="number" name="margin" value="">
    <label for="marginType">Type: </label>
    <select class="" name="marginType">
      <option>RUNS</option>
      <option>WICKETS</option>
    </select> <br>
  </div>

  <div class="">
    <input type="submit" value="submit">
    <input type="reset">
  </div>

</form>
